USE [master]
GO
/****** Object:  Database [Fourtify]    Script Date: 9/24/2024 4:06:16 PM ******/
CREATE DATABASE [Fourtify]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fourtify', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Fourtify.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fourtify_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Fourtify_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fourtify].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fourtify]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 9/24/2024 4:06:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccNo] [int] NOT NULL,
	[AccName] [nvarchar](100) NULL,
	[AccPass] [nvarchar](255) NULL,
	[UFda] [bit] NULL,
	[ULog] [bit] NULL,
	[UDBF] [bit] NULL,
	[UCanv] [bit] NULL,
	[NewAccNo] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuizScore]    Script Date: 9/24/2024 4:06:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuizScore](
	[QuizNo] [int] NOT NULL,
	[AccountNo] [int] NULL,
	[Score] [nvarchar](50) NULL,
	[DateTimeTaken] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuizNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
